---
import { Resume } from '../components/Resume/Resume';
import { DeskSetup } from '../components/Setup/DeskSetup';
import { DevelopmentTools } from '../components/Setup/DevelopmentTools';
import { ProductivityTools } from '../components/Setup/ProductivityTools';
import { Socials } from '../components/Socials';
import { TechStack } from '../components/TechStack/TechStack';
import { Typewriter } from '../components/Typewriter';
import { Paragraph } from '../components/UI/Paragraph';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Julius Möhring - software engineer, data science student and professional rider">
    <div class="flex flex-col gap-10 p-4 w-full">
        <div class="flex flex-col gap-4">
            <Typewriter client:load />

            <Paragraph>
                I'm Julius, a software engineer based in the west of Germany. I used to be working mostly as a frontend
                engineer, but currently I'm shifting my focus to become a data scientist. Before I got into software
                engineering, I trained young jumpers and brought them into the sport.
            </Paragraph>
        </div>

        <Socials />
    </div>

    <div class="flex flex-wrap gap-2 w-full">
        <TechStack />

        <Resume />

        <DevelopmentTools />

        <ProductivityTools />

        <DeskSetup />
    </div>
</Layout>
