---
import { Education } from '../components/Education/Education';
import { Resume } from '../components/Resume/Resume';
import { DeskSetup } from '../components/Setup/DeskSetup';
import { DevelopmentTools } from '../components/Setup/DevelopmentTools';
import { ProductivityTools } from '../components/Setup/ProductivityTools';
import { Socials } from '../components/Socials';
import { TechStack } from '../components/TechStack/TechStack';
import { Typewriter } from '../components/Typewriter';
import { Headline } from '../components/UI/Headline';
import { Paragraph } from '../components/UI/Paragraph';
import Layout from '../layouts/Layout.astro';
import Avatar from "../components/UI/Avatar.astro"
---

<Layout
    title="Julius Möhring | Software Engineer & Professional Rider"
    description="Hi, I am Julius. I used to be a professional rider focused on training young horses. Since 5 years I am into developing software."
>
    <div class="flex flex-col gap-10 w-full">
        <div class="flex flex-col gap-4">
            <div class="flex gap-7 sm:justify-start sm:items-center flex-col sm:flex-row">
                <Avatar />

                <Typewriter client:load />
            </div>

            <Paragraph>
                I'm Julius, a software engineer based in the west of Germany 🇩🇪. I used to be working mostly as a
                frontend engineer, but currently I'm shifting my focus to become a data scientist. Before I got into
                software engineering, I trained young jumpers and brought them into the sport 🐴.
            </Paragraph>
        </div>

        <Socials />
    </div>

    <div class="grid grid-cols-3 w-full gap-2 mt-12">
        <div class="col-span-3 md:col-span-2 flex flex-col gap-2">
            <TechStack />

            <Headline class="mt-12">Stuff I use 🔨 and tools I love ❤️</Headline>
            <Paragraph>
                As a software engineer, I'm always looking for new tools and technologies to improve my workflow. Here
                are some of the tools I use on a daily basis.
            </Paragraph>

            <div>
                <DevelopmentTools />
            </div>

            <div>
                <ProductivityTools />
            </div>

            <div>
                <DeskSetup client:load />
            </div>
        </div>

        <div class="col-span-3 md:col-span-1 flex flex-col w-full gap-2 mt-12">
            <Resume />

            <Education />
        </div>
    </div>
</Layout>
