---
import Footer from './Footer.astro';
---

<main
    class="overflow-y-scroll scrollbar-hide lg:w-[992px] absolute opacity-80 bg-black p-4 inset-2 rounded lg:inset-4 lg:rounded-lg lg:left-1/2 lg:-translate-x-1/2"
>
    <slot />

    <Footer />
</main>
